.popOverPanel {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.popOverButton:hover .popOverPanel {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
